body {
  background-image: url("../img/music.jpg");

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_carga {
  background-color: #0b0b0b;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga {
  border: 15px solid #ccc;
  border-top-color: #3498db;
  border-top-style: groove;
  width: 100px;
  height: 100px;
  border-radius: 360%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: rotate 0.7s linear infinite;
  -o-animation: rotate 0.7s linear infinite;
  animation: rotate 0.7s linear infinite;
}

.logo {
  margin: 20px;
  -webkit-animation: rotate 0.7s linear alternate-reverse;
  -o-animation: rotate 0.7s linear alternate-reverse;
  animation: rotate 0.7s linear alternate-reverse;
  border-radius: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hero {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 30px 1px #fff;
  border-radius: 15px;
  position: relative;
}

.contenido-hero {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
}

.info {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.registro {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 250px;
  width: 400px;
  margin: auto;
  position: relative;
  padding: 20px;
  display: none;
  border-radius: 15px;
  box-shadow: 1px 1px 50px 1px cyan;
}

.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.containt {
  display: inline-grid;
}

.techMusic {
  width: 97%;
  height: 900px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 30px 1px #fff;
  animation: robote1 2s alternate 1;
}
.card {
  box-shadow: 1px 1px 20px 1px #fff;
}

.card-body {
  padding: 10px;
  padding-bottom: 30px;
}
.g-2,
.gx-2 {
  --bs-gutter-x: 3.5rem;
}

@keyframes robote1 {
  0% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(10%);
  }

  30% {
    transform: translateY(-5%);
  }

  45% {
    transform: translateY(10%);
  }

  60% {
    transform: translateY(-5%);
  }
  75% {
    transform: translateY(10%);
  }

  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(1%);
  }
}
