/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Cuerpo */
body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff0000' fill-opacity='0.49'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}
h2 {
  font-weight: bold;
}
/* Contenido */
.contenido {
  width: 90%;
  margin: auto;
}

/* Navegador */
.buscador {
  margin-left: 10px;
  width: 50%;
}
.nav {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.logo {
  width: 50px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  padding: 10px;
}

.nav ul li a {
  padding: 2px;
}

.nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav ul.menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

.paginas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tecnologia {
  background: url("/img/tecnologia.jpg") no-repeat center center/cover;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.musica {
  background: url("/img/musica.jpg") no-repeat center center/cover;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.ia {
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  border: 1px solid #fff;
}

.paginas p {
  margin-bottom: 10px;
}

.ia:hover {
  background-color: #000000;
}

.targetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.targetas img {
  width: 100%;
  height: 180px;
}

.targetas h3 {
  font-size: 20px;
  margin: 10px 0;
}

.targetas a {
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
}

.a {
  background-color: rgba(0, 0, 0, 0.815);
}

.banner {
  background-color: rgba(0, 0, 0, 0.815);
  padding: 0 60px;
  height: 300px;
}

.banner h2 {
  padding-top: 60px;
  padding-left: 215px;
  font-size: 35px;
}

.banner p {
  font-size: 30px;
  margin-bottom: 40px;
}

.boton {
  margin-left: 200px;
  font-size: 30px;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.boton:hover {
  background-color: rgba(255, 0, 0, 0.664);
  border: #000000;
  color: #000000;
}
.banner img {
  padding-top: 25px;
  padding-right: 50px;
  float: right;
  width: 300px;
}
/*Contactanos*/
.redes {
  margin: 50px;
}

.redes p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.sociales {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sociales a {
  margin: 0 30px;
}

.sociales a i {
  font-size: 3rem;
}

footer {
  height: 160px;
  background: #2f3640;
  color: #7c7c7c;
}
footer p {
  padding-top: 80px;
  font-size: 12px;
  text-align: center;
}
