/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  /* Pattern from https://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}
a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style: none;
}
.contenido{
  width: 90%;
  margin: auto;
}
.buscador{
  margin-left: 10px;
  width: 40%;
}
.nav{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;  
}
.logo{
  width: 50px;
}
.nav ul {
  display: flex;
}

.nav ul li {
  padding: 10px;
}

.nav ul li a {
  padding: 2px;
}

.nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav ul.menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}


.musica {
  margin: 10px 80px;
  height: 800px;
  background: url("/img/musicaini.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #fff;
}

.ia {
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  border: 1px solid #fff;
}

.musica p {
  margin-bottom: 5px;
  padding: 10px 50px;
}

.ia:hover {
  background-color: #000000;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.tarjetas img {
  width: 100%;
  height: 180px;
}

.tarjetas h3 {
  font-size: 20px;
  margin: 10px 0;
}

.tarjetas a {
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
}

.redes {
  margin: 50px;
}

.redes p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.sociales {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sociales a {
  margin: 0 30px;
}

.sociales a i {
  font-size: 3rem;
}

.